<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Previous notes</title>
  <!-- Custom Style Sheet -->
  <link rel="stylesheet" href="./css/style_history.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Bootstrap CDN CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-0Mou2qXGeXK7k/Ue/a1hspEVcEP2zCpoQZw8/MPeUgISww+VmDJcy2ri9tX0a6iy" crossorigin="anonymous">


</head>

<body>

  <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link"href="/history">History</a>
              </li>
            </ul>
          </div>

          <form class="form-inline">
            <% if (!currentUser){ %>
                <!-- link to the Login-->
                <li class="nav-item"><a class="nav-link" href="/register">Sign In</a></li>
            <% } else{ %>
                <!-- link to the Logout-->
                <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            <% } %>
          </form>
        </nav>

  </header>
  
  <div class="container" >
    <h3>Previous Notes of <%=notesVar[0].username%> </h3>

    <% for (var i=0; i<notesVar.length; i++){ %>
        <form class="card" id = <%=notesVar[i].id%> >
            <div class="card-header" ><%=notesVar[i].title%> </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                  <p> <%=notesVar[i].content%> </p>
                <footer class="blockquote-footer"><%=notesVar[i].time%> </footer>
              </blockquote>
            </div>
        </form>
    <% } %>

    <!--Try with the example
    <form action = '/history/submit' method="post">
      <input type = text name = "id" >
      <button type = 'submit'>Submit<button>
    </form>
-->

    <script>
      $(".card").on("click", function() {
        //console.log('id');
        //console.log(typeof $(this).attr("id"));
        var id = $(this).attr("id");
        var dt = {};
				dt.id = id;
        console.log(JSON.stringify(dt));

        $.ajax({
            type: "POST",
            url: '/history/submit',
            data: JSON.stringify(dt),
            contentType: 'application/json',
            success: function (data, textStatus,jqXHR) {
                console.log('success');
                window.location.href= "/history/"+ id;
            },
            error: function (xhr, status, errorThrown) {
                //Here the status code can be retrieved like;
                console.log(xhr.status);
                //The message added to Response object in Controller can be retrieved as following.
                console.log(xhr.responseText);
            }
          })


      })
    </script>

  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</body>
